/* fonts */
/* customFontOne : Start */
@font-face{
  font-family: 'customFontOneRegular';
  src: local('customFontOneRegular'),url('../../fonts/f1/n1/62d82a490fc2f600387f4056.otf')
}
.customFontOneRegular{
  font-family: customFontOneRegular;
}

@font-face{
  font-family: 'customFontOneSemibold';
  src: local('customFontOneSemibold'),url('../../fonts/f1/n4/62d82a490fc2f600387f4056.otf')
}
.customFontOneSemibold{
  font-family: customFontOneSemibold;
}

@font-face{
  font-family: 'customFontOneBold';
  src: local('customFontOneBold'),url('../../fonts/f1/n5/62d82a490fc2f600387f4056.otf')
}
.customFontOneBold{
  font-family: customFontOneSemibold;
}
/* customFontOne : End */

/* customFontTwo : Start */
@font-face{
  font-family: 'customFontTwo';
  src: local('customFontTwo'),url('../../fonts/f2/63e12eaf2f52870024111fe7.otf')
}
.customFontTwo{
  font-family: customFontTwo;
}
/* customFontTwo : End */


/* customFontThree : Start */
@font-face{
  font-family: 'customFontThree';
  src: local('customFontThree'),url('../../fonts/f3/63e12ed3f62e78001a0e026c.ttf')
}
.customFontThree{
  font-family: customFontThree;
}
/* customFontThree : End */

/* customFontFour : Start */
@font-face{
  font-family: 'customFontFour';
  src: local('customFontFour'),url('../../fonts/f4/63e171962f528700241833f4.otf')
}
.customFontFour{
  font-family: customFontFour;
}
/* customFontFour : End */


// Content manager fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.ubantu-font{
  font-family: 'Ubuntu', sans-serif;
}