#{$app}- {
  &footer {
    &__ {
      &top {
        background-color: var(--yellow);
        padding: 100px 0;
      }
      &bottom {
        background-color: var(--black);
        padding: 100px 0;
      }
      &title {
        font-size: 200px;
      }
      &tag {
        letter-spacing: 20px;
      }
    }
  }
}
